
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* Color Palet */

:root{
    --mainColor1: navy;
    --mainColor2: grey;
    --mainColor2sub1: lightgrey;
    --mainColor3: white;
    --mainColor4: black;
    --mainColor5: darkorange;
}

/* Site Content */

*{
    margin: 0;
    font-size: 2vmax;
    font-weight: 300;
    font-family: 'Playfair Display', sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar*/

nav {
    background-color: var(--mainColor1);
}

.navcontainer {
    display: flex;
    justify-content: center;
    height: 10vmax;
    align-items: center;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: var(--mainColor3);
    font-size: larger;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 70vmax;
    list-style-type: none;
    color: var(--mainColor3);
}

nav ul li a:hover {
    color: var(--mainColor2);
}



/* Main Content Base CSS */

.container {

    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    

}


/* Header CSS */

.container header {
    background-color: var(--mainColor2sub1);

    height: auto;
    width: auto;
    padding: 12vmax 0 12vmax 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--mainColor4);
   

}

.container header h1 {
    height: 6vmax;
    width: 80%;
    font-size: larger;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header p {
    height: auto;
    text-align: center;
    width: 80%;
    height: auto;
    margin-bottom: 1.5vmax;
}



/* Main Content */

.containerMain {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--mainColor4);
}


/* Code Content */

.containerMain .containerTopic {
    height: auto;
    display: flex;
    margin-top: 7vmax;
    margin-bottom: 5vmax;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.containerMain .containerTopic .containerCode {
    width: 70%;
    height: auto;
    margin-bottom: 5vmax;
}

.containerCode h2 {
    font-size: 2vmax;
    font-weight: 600;
    margin-bottom: 1vmax;
    
}

.containerCode h2 a {
    font-size: 2vmax;
    font-weight: 600;
    margin-bottom: 1vmax;
    text-decoration: none;
    color: var(--mainColor4);
}

.containerCode h2 a:hover {
    color: var(--mainColor5);
}

.containerCode p {
    font-size: 1.5vmax;
    font-style: italic;
    margin-bottom: 2.5vmax;
}

.containerCode p b {
    font-size: 1.5vmax;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 2.5vmax;

}


.containerCode .code {
    margin-bottom: 3vmax;
    height: auto;
    width: auto;
}
.containerCode code {
    background-color: var(--mainColor2sub1);
    padding: 1vmax;
    width: auto;
    height: auto;
    
}





/* Article and Tech Doc Content */


.techDoc .containerTechDoc {
    height: auto;
    width: 100%;
    border-radius: 7px 7px 0 0;
    background-color: var(--mainColor2);
    color: var(--mainColor3);
    display: flex;
    justify-content: center;
    align-items: center;

}

.techDoc .containerTechDoc .containerBlurb {
    height: auto;
    width: 40%;
    margin-right: 3vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}   

.containerBlurb h2 {
    font-size: 2.5vmax;
    font-weight: 100;
    margin-bottom: 2vmax;
}

.containerBlurb p {
    font-weight: 100;
    font-size: 1.5vmax;
}


.techDoc .containerTechDoc .containerArticleList {
    width: 50%;
    height: auto;
    padding-top: 4vmax;
    padding-bottom: 2.3vmax;
}

.containerArticleList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.containerArticleList ul li {
    height: auto;
    font-size: 1.5vmax;
    margin-bottom: 1.7vmax;
}

.containerArticleList ul li a {
    font-size: 1.5vmax;
    color: var(--mainColor3);
}
.containerArticleList ul li a:hover {
    color: var(--mainColor4);
}

/* footer */

footer {
    background-color: var(--mainColor4);
    height: 10vmax;

    display: flex;
    justify-content: center;
    align-items: center;

}

footer p {
    color: var(--mainColor3);
    font-size: 1.4vmax;
}